.hotel-booking-div{
    background-color: #f3eeee;
    width: 100%;
    height: 640px;
    padding-top: 30px;
}
.hotel-booking-container{
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 420px;
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: .5px 1px 15px 1px rgb(117, 115, 115);
    padding-top: 20px;
}
.hotel-container-title{
    margin-left: 20px;
    
}