#navbar {
  /* padding-left: 100px; */
}
#logo {
  height: 75px;
  width: 75px;
  border-radius: 50px;
}
#navbarNav {
  /* background-color: red; */
  height: 100px;
  width: 400px;
  display: flex;
  margin-left: 100px;
}
#flight-icon {
  /* background-color: blue; */
  margin-left: 15px;
  
}
.flightIcon ,.hotelIcon,.trainIcon{
  margin-right: 15px;
}
.trainIcon,.cabIcon{
  margin-right: 15px;
}
.cabIcon{
  margin-left: 11px;
}
.busIcon{
  margin-right: 15px;
}
#flight-icon:hover {
  color: red;
}

#flight:hover {
  color: red;
}
#flight{
  margin-right: 10px;
}

#bus-icon {
  /* background-color: blue; */
  margin-left: 25px;
}
#bus-icon:hover {
  color: red;
}
#bus:hover {
  color: red;
}

#train-icon {
  /* background-color: blue; */
  margin-left: 25px;
}
#train-icon:hover {
  color: red;
}
#train:hover {
  color: red;
}
#hotel-stay {
  /* background-color: rgb(237, 21, 158); */
  margin-left: 25px;
}
#hotel-stay:hover {
  color: red;
  /* border-radius: 25px;
  border: .5px red solid; */
}
#hotel:hover {
  color: red;
}

/* #flight:hover {
  color: red;
  } */
#cab-icon {
  /* background-color: rgb(237, 21, 158); */
  margin-left: 25px;
}
#cab-icon:hover {
  color: red;
}
#cab:hover {
  color: red;
}

/* login */
#login-div {
  /* background-color: rgb(8, 0, 255); */
  margin-left: 400px;
  width: 100px;
  border: 2px solid red;
  height: 50px;
  border-radius: 25px;
  display: flex;
  padding-left: 20px;
  
}
#login{
  color: red;
}
#login-icon {
  position: relative;
  right: 15px;
  top: 8px;
  height: 30px;
  width: 30px;
}
#my-booking {
  /* background-color: rgb(8, 0, 255); */
  margin-left: 15px;
  width: 185px;
  border: 2px solid red;
  height: 50px;
  border-radius: 25px;
}
#booking-icon {
  position: relative;
  right: 60px;
  top: 8px;
 
}
#booking{
  color: red;
}
