.flight-ticket-div {
  background-color: #f3eeee;
  width: 100%;
  height: 640px;
  padding-top: 30px;
}
.flight-ticket-container {
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 420px;
  margin-left: 150px;
  border-radius: 10px;
  box-shadow: 0.5px 1px 15px 1px rgb(117, 115, 115);
  padding-top: 20px;
}
.flight-container-title {
  margin-left: 20px;
}


                        /* trip selection div style */



.flight-trip-selection {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  height: 40px;
}
.one-way {
  /* background-color: green; */
  height: 35px;
  width: 110px;
  border: solid 1px rgb(145, 145, 145);
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 25px;
  background-color: #fff;
}
.one-way:focus{     
    border:solid 1px red;
    color: red;
}

.round-way {
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 130px;
  border: solid 1px rgb(146, 145, 145);
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 25px;
}
.round-way:focus{
    border:  solid 1px red;
    color: red;
}


                     /* flight place selection div style */



.flight-place-selection {
  /* background-color: blue; */
  height: 90px;
  margin-top: 10px;
  display: flex;
  /* justify-content: space-evenly; */
  /* padding-top: 20px; */
}
.depart-from-div {
  /* background-color: pink; */
  padding-top: 5px;
  width: 200px;
  margin-left: 20px;
}
.place-shift-area {
  /* background-color: red; */
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shift-arrow {
  /* background-color: blue; */
  border: solid 2px red;
  border-radius: 70px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:red;
}
.going-to-div {
  background-color: white;
  width: 200px;
  margin-right: 20px;
  text-align: end;
}


                                 /* flight selection div style */



.flight-date-selection {
  /* background-color: rgb(89, 255, 0); */
  height: 90px;
  display: flex;
   justify-content: space-between;
}
.depature-div{
    /* background-color: blue; */
    width: 150px;
    margin-left: 20px;
}
.return-div{
    /* background-color: blue; */
    width: 150px;
    text-align: end;
    margin-right: 20px;
}
.flight-travellers-economy {
  background-color: rgb(0, 255, 225);
  height: 60px;
}


                    /* flight search button div style */
.search-flight-div{
    /* background-color: blue; */
    height: 150px;
    margin-top: 96px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: flex-end;
    
}
#search-btn{
   height: 50px;
   width: 150px;
   background-color: red;
   border: none;
   border-radius: 5px;
   margin-right: 20px;
}